@import 'common/styles';

.errorMessage {
    color: $error-message-color;
}

.input {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: $input-box-shadow;
    margin-bottom: 10px;
    width: calc((100%) - 10px);
}

.input:focus {
    box-shadow: $input-focus-box-shadow
}

.inputError {
    box-shadow: $input-error-box-shadow;
}

.inputError:focus {
    box-shadow: $input-error-focus-box-shadow;
}

.label {
    display: block;
    margin-bottom: 5px;
}