// modal colors
$modal-backdrop-color: rgb(0, 0, 0, 0.5);
$modal-close-button-color: rgb(255, 255, 255, 0.3);
$modal-close-button-hover-color: rgb(255, 255, 255, 0.4);
$modal-background-color: #ffffff;


// used box-shadow as input outline
$input-box-shadow: 0 0 0 1px black;
$input-error-box-shadow: 0 0 0 1px red;
$input-focus-box-shadow: 0 0 0 2px blue;
$input-error-focus-box-shadow: 0 0 0 2px red;

// fonts colors
$error-message-color: red;
$submit-button-font-color: #fff;

// button colors
$submit-button-color: rgba(0, 128, 128, 0.8);
$submit-button-hover-color: rgba(0, 128, 128, 1);

// timing functions
$button-timing-function: 100ms cubic-bezier(0.3, 0.1, 0.5, 1);

// box shadows
$button-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
$money-card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);